body {
    color: white;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

input {
    background-color: black !important;
    color: white !important;
}

img {
    background-color: #84858600;
    border-radius: 50%;
    display: block;
    height: 170px;
    margin: 0 auto 25px;
    width: 170px;
}

.ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 14px;
    padding: 0;
}

.skill {
    border-radius: 37px;
    padding: 6px 12px 6px 12px;
    margin: 8px 8px 0 0;
    background-color: rgb(56 59 64);
}

.skill:hover {
    background-color: rgba(255, 255, 255, .54);
    color: #27292d;
    cursor: pointer;
}

.icon svg {
    filter: invert(85%) sepia(8%) saturate(61%) hue-rotate(181deg) brightness(83%) contrast(81%);
}

.detail-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
    background-color: #27292d;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}