html {
  display: flex;
  justify-content: center;
  background-color: #000;
}

body {
  margin: 10px 0;
  font-family: "Muli", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #27292d;
  width: 420px;
  box-shadow: 1px 1px 5px 1px #51504f;
  padding: 20px 0;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

.heading-1 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 28px;
}

.heading-2 {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 20px;
}

.heading-3 {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 20px;
  color: #adaeb0;
}
